<ul class="children">
                                <li class="comment ">
                                    <article class="comment-body">
                                        <footer class="comment-meta">
                                            <div class="comment-author ">
                                                <img alt="" src="/static/assets/img/team/t-2.jpg" class="">
                                                <b class="fn">
                                                    <a href="#" rel="external nofollow" class="url">جانس برونس</a>
                                                </b>
                                                <span class="says">گفته:</span>
                                            </div><!-- .comment-author -->

                                            <div class="comment-metadata">
                                                <a href="#">
                                                    <time datetime="2018-10-16T13:13:25+00:00">
                                                        1398 فروردین
                                                    </time>
                                                </a>
                                            </div><!-- .comment-metadata -->

                                        </footer><!-- .comment-meta -->

                                        <div class="comment-content">
                                            <p>سلام، این یک دیدگاه میباشد.<br>
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.<br>
                                               زندگی را دوست داشته باشید</p>
                                        </div><!-- .comment-content -->

                                        <div class="reply">
                                            <a rel="nofollow" class="comment-reply-link" href="#">پاسخ</a>
                                        </div>
                                    </article><!-- .comment-body -->
                                </li><!-- #comment-## -->
                            </ul>